In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Define the path to the pickle file    # Replace with your actual base directory
path = r"C:\your\base\directory"  
pickle_file = os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl')

In [23]:
 orders_products_combined = pd.read_pickle(pickle_file)

In [25]:
(orders_products_combined.head())

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,112108,4,4,10,9.0,NaN,NaN,NaN,left_only
1,2,202279,3,5,9,8.0,33120.0,1.0,1.0,both
2,2,202279,3,5,9,8.0,28985.0,2.0,1.0,both
3,2,202279,3,5,9,8.0,9327.0,3.0,0.0,both
4,2,202279,3,5,9,8.0,45918.0,4.0,1.0,both

In [18]:
# importing df_ords
base_path = r'C:/Users/User/Downloads/4.3_orders_products'

In [19]:
file_path = os.path.join(base_path, '02-Data', 'Prepared-Data', 'products_checked.csv')

In [20]:
df_prods = pd.read_csv(file_path)

In [21]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [31]:
# Attempting a merge
df_merged = pd.merge(orders_products_combined, df_prods, on='product_id')

In [32]:
df_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2,202279,3,5,9,8.0,33120.0,1.0,1.0,both,Organic Egg Whites,86,16,11.3
1,2,202279,3,5,9,8.0,28985.0,2.0,1.0,both,Michigan Organic Kale,83,4,13.4
2,2,202279,3,5,9,8.0,9327.0,3.0,0.0,both,Garlic Powder,104,13,3.6
3,2,202279,3,5,9,8.0,45918.0,4.0,1.0,both,Coconut Butter,19,13,8.4
4,2,202279,3,5,9,8.0,30035.0,5.0,0.0,both,Natural Sweetener,17,13,13.7

In [33]:
# Define the export path
export_path = r'C:/Users/User/Downloads/4.3_orders_products/02-Data/Prepared-Data'

In [34]:
# Save the dataframe as a pickle file
df_merged.to_pickle(os.path.join(export_path, 'ords_prods_merge.pkl'))